.navbar .container-fluid > div {
  flex: 1;
  margin-right: 5vh;
}

.navbar .container-fluid > div:nth-child(2) {
  flex: 2;
  justify-content: center;
}

.navbar .container-fluid > div:last-child {
  display: flex;
  justify-content: flex-end;
}

.btn-outline-primary, .btn-outline-warning, .btn-outline-secondary {
  border-radius: 20px;
  padding: 0.375rem 1rem;
}

.btn-outline-primary:hover, .btn-outline-warning:hover, .btn-outline-secondary:hover {
  background-color: rgba(0, 123, 255, 0.1);
  color: #007bff;
}

.header-container {
  padding: 40px;
  border-bottom: 1px solid #ddd;
  text-align: left;
  width: 100%;
}

.title-section {
  margin-bottom: 20px;
  justify-items: auto;
}

.main-title {
  font-family: 'Arial Black', sans-serif;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: left;
}

.subtitle {
  font-family: 'Apple SD Gothic Neo', sans-serif;
  padding: 1vh;
  font-size: 14px;
  color: #888;
}

.nav-links {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.nav-item {
  margin: 0 15px;
  font-size: 16px;
  color: black;
  text-decoration: none;
}

.nav-item:hover {
  color: gray;
}

.search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar-container {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 50px;
  padding: 5px 15px;
  width: 500px;
}

.search-input {
  border: none;
  outline: none;
  flex-grow: 1;
}

.search-btn {
  border: none;
  background-color: white;
  padding: 0;
}

.search-filter {
  margin-top: 10px;
  font-size: 14px;
  color: gray;
}

@tailwind base;
@tailwind components;
@tailwind utilities;